body{
    padding: 0px; 
    margin: 0px;
    display: flex; /* Exact middle */
    justify-content: center ; 
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #87CEEB;
}
.buttons{
background-color: #000000;
}
.container{
    margin-left: 1.4em;
    padding: 30px; /*space betn content and border*/
    border-radius: 6px;
    box-shadow: 15px 15px 20px #454545, -15px -15px 20px #454545;
    background-color: #cbced1;
}
.content{
    width: 100%; /* if we want to fill any remaining space inside its parent*/
    margin-top: 1.7em; /*28px*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row button{
    width: 60px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    border-radius: .1s;
    cursor: pointer;
    box-shadow: 5px 5px 8px #00000020 -5px -5px 8px #fff;
}
.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(54, 54, 53, 0.1),
        inset -5px -5px 8px #fff; /* top right bottom*/
    background: #fff;
}


.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 50px;
    font-size: 35px;
    outline: none;
    border: 4px solid black;
    align-items: center;
    text-align: right;
    padding-right: .3em;
    background: #c2e1c2;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -5px -5px 6px #ffffff;
}
/* to apply css to id we use #*/
#del{
    background-color: #e60e0e;
    color: white;
}
#del:hover{
    /* inset positive px is upper and negative is lower side*/
    box-shadow: inset 5px 5px 8px #ce0c0c, 
    inset -5px -5px 8px #dc5f5f;
}

#ac{
    background-color: #e60e0e;
    color: white;
}
#ac:hover{
    /* inset positive px is upper and negative is lower side*/
    box-shadow: inset 5px 5px 8px #ce0c0c, 
    inset -5px -5px 8px #dc5f5f;
}
#eval{
    background-color: #ff3399;
    color: white;

}
#eval:hover{
    box-shadow: inset 5px 5px 8px #e932ac, 
    inset -5px -5px 8px #dd0d9f;
}

